<% chosen_quote = Quotes.chosen_quote %>

<div class="quote-fade">
	<p class="quote-text">
	  &ldquo;<%= raw chosen_quote[:text] %>&rdquo;
	</p>

	<p class="quote-author"> 
	   - <%=chosen_quote[:author] %>
	</p>
</div>
	