<% chosen_quote = Quotes.chosen_quote %>

<p class="quote-text" style="font-size: 26px; text-align: center;">
   <%= chosen_quote[:text] %>
</p>
<p class="quote-author" style="font-size: 26px; text-align: center;"> 
   - <%=chosen_quote[:author] %>
</p>
	