<!--TODO: decide on a CSS framework or reset, pull out all inline styles-->

<div class="content-container">
	<div class="quote-outer">
		<div class="quote-container"></div>
	</div>

	<div class="frog-container">
		<div class="eye-outer-div">
	  	  	<div class="eye-container">
		  	    <div class="eye-white left">
		      		<div class="eye-black"></div>
		      	</div>

		      	<div class="eye-white right">
		      		<div class="eye-black"></div>
		      	</div>
		  	</div>
	  	</div>
	    <%= link_to image_tag('frog-only-without-eyes.svg', size: '500x500', alt: 'frog illustration', class: 'frog'), pages_quote_path, remote: true %>
	</div>
</div>

<script>
$('.frog-container').on('click', function(){
    $('.eye-black').removeClass('look-up');
    var extraEyes = $('.eye-container').clone();
    $('.eye-container').remove();
    $('.eye-outer-div').prepend(extraEyes);
    $('.eye-black').addClass('look-up');
});
</script>



				