<h1>Pages#home</h1>

<% quotes = Quotes.sorted_by_author %>

<% quotes.each do |quote| %>
    <p><%= quote[:text] %></p>
    <p><%= quote[:author] %></p>
<% end %>


<% random_quote = Quotes.chosen %>

<p><%= random_quote[:text] %></p>
<p><%=random_quote[:author] %></p>
				