<!--TODO: decide on a CSS framework or reset, pull out all inline styles-->

<div class="content-container">
	
	<div class="quote-container"></div>

	<div>
	  <%= link_to image_tag('frog.jpg', size: '500x500', alt: 'frog illustration', class: 'frog-container'), pages_quote_path, remote: true %>
	</div>

</div>





				