@import url(https://fonts.googleapis.com/css?family=Lato);

$blue-text: #2C5197;

html { 
  background: url(background-with-detail.svg) no-repeat center center fixed; 
  background-size: cover;
  font-family: 'Lato', 'Arial', sans-serif;
}

.intro-msg {
  color: $blue-text;
  font-size: 18px; 
  left: 50%;
  top: 85px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}

#Layer_1 {
  display: block;
  margin: -12px auto;
}

// **********************************
// QUOTES
// **********************************

.quote-container { 
   height: 130px;
   margin: 40px auto 120px;
   text-align: center;
   width: 60%;
   position: relative;
   z-index: 2;
}

.quote-text {
  font-size: 20px; 
  line-height: 1.5em;
  margin: 0;
 
   p { 
     margin: 0;
     padding: 0;
   }
}

.quote-author {
  color: $blue-text;
  font-size: 16px;    
}

// **********************************
// FROG
// **********************************

.frog-container { 
  margin: 0 auto;
  width: 390px;
}

img.frog { 
  display: block;
  margin: 0 auto;
  transform: rotate(-1.3deg);
}

.eye-outer-div {
  position: relative;
  top: 60px;
  z-index: 2;
}

.eye-container {
  height: 55px;
  position: relative;
}

.eye-black {
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: #000;
  border-radius: 50%;
  bottom: 10px;
  left: 10px;
  position: absolute;
  animation: lookaround 3s linear;
  animation-fill-mode: forwards;    
}

.left { margin-left: 129px; }

.right { margin-left: 210px; }

// **********************************
// ANIMATIONS
// **********************************

// **********************************
// on page load
// **********************************

@keyframes lookaround {
  0%   {transform: translateX(0px)}
  25%  {transform: translateX(-6px)}
  50%  {transform: translateX(0px)}
  75%  {transform: translateX(9px)}
  100% {transform: translateX(0px)}
}

// **********************************
// delayed
// **********************************

.cloud-one { 
  animation: cloud 50s ease-in-out 8s;
  animation-fill-mode: forwards; 
  left: -300px;
  opacity: 0.5;
  position: absolute;
  top: -15px;
}

.cloud-two { 
   animation: cloud 62s linear 36s;
   animation-fill-mode: forwards; 
   left: -300px;
   opacity: 0.3;
   position: absolute;
   top: 10px;  
}

.cloud-three {
  animation: cloud 74s ease 10s;
  animation-fill-mode: forwards;  
  left: -300px;
  opacity: 0.4;
  position: absolute;
  top: 5px;     
}

@keyframes cloud {
  0%   {transform: translateX(0px)}
  100% {transform: translateX(2500px)}
}

.ripple-left {
    animation: fade-in 3.5s ease-in-out 29s;
	animation-fill-mode: forwards;
	left: 20px;
	position: absolute;
	top: 50%;
	visibility: hidden;	
}

.ripple-right {
    animation: fade-in 3.5s ease-in-out 7s;
	animation-fill-mode: forwards;
	position: absolute;
	right: 30px;
	top: 45%;
	visibility: hidden;	
}

@keyframes fade-in {
	0% {
		transform: scale(0);
		opacity: 0.0;	
		visibility: hidden;	
	}
	50% {
		transform: scale(1.0);
		opacity: 1.0;
		visibility: visible;
	}
	100% {
		transform: scale(0.7);
		opacity: 0.0;
		visibility: hidden;	
	}		
}

.ladybug {
  animation: ladybug 60s ease-in 38s;
  animation-fill-mode: forwards;  
  left: -300px;
  position: absolute;
  bottom: 25px;    	
}

@keyframes ladybug {
  0%   {transform: translateX(0px)}
  100% {transform: translateX(2500px)}
}

// **********************************
// on click
// **********************************

.look-up {
  animation: look-up 1s linear;
  animation-fill-mode: forwards;  
}

@keyframes look-up {
  0%   {transform: translateX(0)}
  100% {transform: translateY(-15px)}
}

.quote-fade {
  animation: quote-fade 1.5s linear;
  animation-fill-mode: forwards;  
}

@keyframes quote-fade {
	0% {
		opacity: 0.0;	
		visibility: hidden;	
	}
	100% {
		opacity: 1.0;
		visibility: visible;
	}
}		

// **********************************
// MEDIA QUERIES
// **********************************

@media screen and (max-width: 800px) {
  .quote-container {
     width: 90%;
  }
}


