@import url(https://fonts.googleapis.com/css?family=Lato);

html { 
  background: url(background-with-detail.svg) no-repeat center center fixed; 
  background-size: cover;
  font-family: 'Lato', 'Arial', sans-serif;
}

// **********************************
// QUOTES
// **********************************

.quote-container { 
   height: 130px;
   margin: 60px auto 180px;
   text-align: center;
   min-width: 300px;
   position: relative;
   z-index: 2;
}

.quote-text {
  font-size: 30px; 
  line-height: 1.5em;
  margin: 0;

   p { 
     margin: 0;
     padding: 0;
   }
}

.quote-author {
  color: #2C5197;
  font-size: 26px;    
}

// **********************************
// FROG
// **********************************

.frog-container { 
  margin: 0 auto;
  width: 510px; 
}

img.frog { 
  display: block;
  margin: 0 auto;
  transform: rotate(-1.3deg);
}

.eye-outer-div {
  position: relative;
  top: 110px;
  z-index: 2;
}

.eye-container {
  height: 55px;
  position: relative;
}

.eye-black {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-color: #000;
  border-radius: 50%;
  bottom: 10px;
  left: 10px;
  position: absolute;
  animation: lookaround 3s linear;
  animation-fill-mode: forwards;    
}

.left { margin-left: 150px; }

.right { margin-left: 288px; }

// **********************************
// ANIMATIONS
// **********************************

// **********************************
// on page load
// **********************************

@keyframes lookaround {
  0%   {transform: translateX(0px)}
  25%  {transform: translateX(-11px)}
  50%  {transform: translateX(0px)}
  75%  {transform: translateX(20px)}
  100% {transform: translateX(0px)}
}

// **********************************
// delayed
// **********************************

.cloud-one { 
  animation: cloud 40s ease-in-out 8s;
  animation-fill-mode: forwards; 
  left: -300px;
  opacity: 0.5;
  position: absolute;
  top: 0px;
}

.cloud-two { 
   animation: cloud 42s linear 10s;
   animation-fill-mode: forwards; 
   left: -300px;
   opacity: 0.3;
   position: absolute;
   top: 10px;  
}

.cloud-three {
  animation: cloud 50s ease 12s;
  animation-fill-mode: forwards;  
  left: -300px;
  opacity: 0.4;
  position: absolute;
  top: 5px;     
}

@keyframes cloud {
  0%   {transform: translateX(0px)}
  100% {transform: translateX(2500px)}
}

.ripple-left {
    animation: fade-in 3.5s ease-in-out 29s;
	animation-fill-mode: forwards;
	left: 20px;
	position: absolute;
	top: 50%;
	visibility: hidden;	
}

.ripple-right {
    animation: fade-in 3.5s ease-in-out 7s;
	animation-fill-mode: forwards;
	position: absolute;
	right: 30px;
	top: 45%;
	visibility: hidden;	
}

@keyframes fade-in {
	0% {
		transform: scale(0);
		opacity: 0.0;	
		visibility: hidden;	
	}
	50% {
		transform: scale(1.0);
		opacity: 1.0;
		visibility: visible;
	}
	100% {
		transform: scale(0.7);
		opacity: 0.0;
		visibility: hidden;	
	}		
}

.ladybug {
  animation: ladybug 60s ease-in 38s;
  animation-fill-mode: forwards;  
  left: -300px;
  position: absolute;
  bottom: 25px;    	
}

.ladybug::after {
  animation: up-and-down 60s ease-out 38s;
  content: url('ladybug.svg');
}

@keyframes ladybug {
  0%   {transform: translateX(0px)}
  100% {transform: translateX(2500px)}
}

// **********************************
// on click
// **********************************

.look-up {
  animation: look-up 1s linear;
  animation-fill-mode: forwards;  
}

@keyframes look-up {
  0%   {transform: translateX(0)}
  100% {transform: translateY(-22px)}
}






